<img src='http://bit.ly/1eze8aE' style="border:3px dashed red">
<% if @name %>
  <h1> My name is <%= @name %> and I will eat your soul... villainously!</h1>
<% end %>
<form action="/named-cat">
  <div>
    <input type="text" name="name">
    <input type="submit" value="submit">
  </div>
</form>
